.about-container{
    height: auto;
    background-color: #a79dd1;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

}


.about-content-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem;

}

.about_img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-content-text{
    width: 50%;
    text-align: justify;
    color: white;
}



@media (max-width: 768px) {
    .about-content-one {
        flex-direction: column;
        align-items: center;
    }

    .about_img {
        width: 100%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .about-content-text {
        width: 100%;
    }
}